<div class="product-block">
        {% for productitem in block.productblok.all() %}
            <div class="main-products">
                <h2>{{ productitem.producttitle }}</h2>
                {% set ProductImage = productitem.productimage.one() %}
                {% if ProductImage %}
                    <img src="{{ ProductImage.url }}" class="main-products-foto">
                {% endif %}
                <p class="main-products-tekst">{{ productitem.productdescription }}</p>
                <p class="main-products-prijs">Price: {{ productitem.productprijs | money }}</p>
                <a href="{{ productitem.url }}">
                    <button type="button" class="button-detail">Lees meer</button>
                </a>
            </div>
        {% endfor %}
</div>
