{% extends './_layout.twig' %}
{% set artist = entry.artist.one() %}
{% block content %}
    <div class="detail">
        <section class="detail-card">
            {% set detailImage = entry.productimage.one() %}
            {% if detailImage %}
                <div class="photo">
                    <img src="{{ detailImage.url }}" alt="" class="photo-detail">
                </div>
            {% endif %}
            <div class="detail-description">
                <h2 class="detail-description-title">{{ entry.producttitle }}</h2>
                {% if artist %}
                <h4 class="detail-description-name">{{ artist.slug }}</h4>
                {% endif %}
                <h1 class="detail-description-price">{{ entry.productprijs | money }}</h1>
                <h1 class="detail-description-price"> {{ entry.productbtw }}% BTW</h1>
                <p class="detail-description-price"> {{ entry.productvoorraad }} stuks in voorraad</p>
                {#                <p class="detail-description-price" v-if="isInStock">In Stock</p> #}
                {#                <p class="detail-description-price" v-else><span>Out of Stock</span></p> #}
                <p class="detail-description-tekst">{{ entry.productdescription }}</p>
                <div class="quantity-container">
                    <button class="quantity-button" @click="deleteOne()">-</button>
                    <input class="counter_display" type="number" v-model="quantity"
                           :max="isInStock ? product.voorraad : undefined" min="1">
                    <button class="quantity-button" @click="addOne()">+</button>
                </div>
                <button @click="addToCart" class="button" id="button"
                        :disabled="!isInStock || quantity > product.voorraad">Add To Cart
                </button>
            </div>
        </section>
    </div>
{% endblock %}