
{# {% for block in productimage.productimage %}#}
{# <div class="main-products">#}
{#     <h2>{{ block.producttitle}}</h2>#}
{#     <img src="{{ block.url }}" alt="" class="main-products-foto">#}
{#     <p class="main-products-tekst">{{ block.productdescription }}</p>#}
{#     <p class="main-products-prijs">Price: € {{ block.productprijs }}</p>#}
{#     <a href="http://www.retrospin-records.be/detailpagina" target="_self">#}
{#         <button type="button" class="button-detail">Read More</button>#}
{#     </a>#}
{# </div>#}
{# {% endfor %}#}


 <div class="main-products">
     <h2>{{ productitem.producttitle}}</h2>
     {% set ProductImage = productitem.productimage.one()%}
     {% if ProductImage %}
         <img src="{{ ProductImage.url }}" class="main-products-foto">
     {% endif %}
     <p class="main-products-tekst">{{ productitem.productdescription }}</p>
          <p class="main-products-prijs">Price:  {{ productitem.productprijs | money }}</p>
{#     {% for entry in craft.entries.section('productitems').all() %}#}
     {% for entry in craft.entries.section('productitems').all() %}
{% if not entry.detailbutton.isEmpty() %}
     <a href="{{ entry.detailbutton.url }}" target="{{ entry.detailbutton.target }}">
         <button type="button" class="button-detail">{{ entry.detailbutton.text }}</button>
     </a>
{% endif %}
     {% endfor %}

 </div>


{# Outputs: <a href="http://my-site.test/some-url" target="_blank">Some URL</a> #}