{% extends './_layout.twig' %}

{% set ProductImage1 = entry.product.nth(0) %}
{% set ProductImage2 = entry.product.nth(1) %}
{% set ProductImage3 = entry.product.nth(2) %}
{% set ProductImage4 = entry.product.nth(3) %}
{% set ProductImage5 = entry.product.nth(4) %}

{# {% set NavImage = entry.navimage.one() %} #}

{% set icon = entry.iconline %}



{% block content %}
    {#    <nav class="navbar"> #}
    {#        <img src="" alt="nav image"> #}
    {#        <ul> #}
    {#            <li><router-link to="/"><i class="fa-solid fa-house"></i></router-link></li> #}
    {#            <li><router-link to="/products">Producten</router-link></li> #}
    {#            <li><router-link to="/:Contact">Contact</router-link></li> #}
    {#            <li><router-link to="/LogIn"><i class="fa-solid fa-user"></i></router-link></li> #}
    {#            <li><router-link to="/winkelmand"> <i class="fa-solid fa-cart-shopping"></i></router-link></li> #}
    {#        </ul> #}
    {#    </nav> #}

    <body class="body">
    {% hook 'after-body-start' %}


    <section class="about">
        <div class="about-tekst">
            <h1 class="main-heading">{{ entry.Headertitle }}</h1>
            <h3 class="sub-heading">{{ entry.headerslogan }}</h3>

            <div class="stars">
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
            </div>

            <p class="description">{{ entry.intro }}</p>
            <p class="description">{{ entry.intro2 }}</p>
            <p class="description">{{ entry.intro3 }}</p>
            <p class="description">{{ entry.intro4 }}</p>
            <p class="description">{{ entry.intro5 }}</p>

            <div class="stars">
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
            </div>
        </div>
    </section>

    {#    <section class="gallery"> #}
    {#        <h1 class="gallery-title">{{ entry.indekijkertitle }}</h1> #}
    {#        <div class="cards-wrapper"> #}
    {#            <div class="card"> #}
    {#                <div class="card-overlay"> #}
    {#                    <h1 class="card-overlay-heading">titel</h1> #}
    {#                    <p class="card-overlay-paragraph">Price: € </p> #}
    {#                    <p class="card-overlay-paragraph">Voorraad: 0 stuks</p> #}
    {#                </div> #}
    {#                {% if ProductImage1 %} #}
    {#                    <img class="card-image" src="{{ ProductImage1.url }}" alt=""> #}
    {#                {% endif %} #}
    {#            </div> #}
    {#            <div class="card"> #}
    {#                <div class="card-overlay"> #}
    {#                    <h1 class="card-overlay-heading">titel</h1> #}
    {#                    <p class="card-overlay-paragraph">Price: € </p> #}
    {#                    <p class="card-overlay-paragraph">Voorraad: 0 stuks</p> #}
    {#                </div> #}
    {#                {% if ProductImage1 %} #}
    {#                    <img class="card-image" src="{{ ProductImage2.url }}" alt=""> #}
    {#                {% endif %} #}
    {#            </div> #}
    {#            <div class="card"> #}
    {#                <div class="card-overlay"> #}
    {#                    <h1 class="card-overlay-heading">titel</h1> #}
    {#                    <p class="card-overlay-paragraph">Price: € </p> #}
    {#                    <p class="card-overlay-paragraph">Voorraad: 0 stuks</p> #}
    {#                </div> #}
    {#                {% if ProductImage1 %} #}
    {#                    <img class="card-image" src="{{ ProductImage3.url }}" alt=""> #}
    {#                {% endif %} #}
    {#            </div> #}
    {#            <div class="card"> #}
    {#                <div class="card-overlay"> #}
    {#                    <h1 class="card-overlay-heading">titel</h1> #}
    {#                    <p class="card-overlay-paragraph">Price: € </p> #}
    {#                    <p class="card-overlay-paragraph">Voorraad: 0 stuks</p> #}
    {#                </div> #}
    {#                {% if ProductImage1 %} #}
    {#                    <img class="card-image" src="{{ ProductImage4.url }}" alt=""> #}
    {#                {% endif %} #}
    {#            </div> #}
    {#            <div class="card"> #}
    {#                <div class="card-overlay"> #}
    {#                    <h1 class="card-overlay-heading">titel</h1> #}
    {#                    <p class="card-overlay-paragraph">Price: € </p> #}
    {#                    <p class="card-overlay-paragraph">Voorraad: 0 stuks</p> #}
    {#                </div> #}
    {#                {% if ProductImage1 %} #}
    {#                    <img class="card-image" src="{{ ProductImage5.url }}" alt=""> #}
    {#                {% endif %} #}
    {#            </div> #}
    {#        </div> #}
    {#    </section> #}

{#    {% set Products = craft.entries.section('homepage').all() %}#}
{#    {% set products = craft.entries.section('homepage').orderBy('productvoorraad').all()  %}#}
{#    {{ d(products) }}#}
{#    #}{#        {% set sneakers = craft.entries.section('sneakers').orderBy('price').all() %} #}
{#    {% set Products = craft.entries.section('homepage').orderBy('productvoorraad ').limit(5).all() %}#}

{#    {% if Products|length > 0 %}#}
{#        <section class="gallery">#}
{#            <h1 class="gallery-title">{{ entry.indekijkertitle }}</h1>#}
{#            <div class="cards-wrapper">#}
{#                {% for product in Products %}#}
{#                    {% include 'components/ProductCards.twig' %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </section>#}
{#    {% endif %}#}

{#    {% set ProductItems = craft.entries.section('productitems').all() %}#}
    {#    {% set products = craft.entries.section('homepage').orderBy('productvoorraad').all()  %}#}
    {#    {{ d(products) }}#}
            {% set ProductItems = craft.entries.section('productitems').orderBy('productvoorraad DESC').limit(5).all() %}
    {#    {% set Products = craft.entries.section('homepage').orderBy('productvoorraad ').limit(5).all() %}#}

    {% if ProductItems|length > 0 %}
        <section class="gallery">
            <h1 class="gallery-title">{{ entry.indekijkertitle }}</h1>
            <div class="cards-wrapper">
                {% for product in ProductItems %}
                    {% include 'components/ProductCards.twig' %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <section id="contact">
        <div class="container">
            <section class="company-info">
                <h2>{{ entry.infotitle }}</h2>
                <p>{{ entry.bedrijfsinfo }}</p>
                <p>{{ entry.bedrijfsinfo2 }}</p>
                <p>{{ entry.bedrijfsinfo3 }}</p>
                <p>{{ entry.bedrijfsinfo4 }}</p>
            </section>


            {#            <form method="post" action="" accept-charset="UTF-8"> #}
            {#                <h2>{{ entry.infotitle2 }}</h2> #}
            {#                {{ csrfInput() }} #}
            {#                <input type="hidden" name="action" value="contact-form/send"> #}

            {#                <label for="name">Naam</label> #}
            {#                <input type="text" id="name" name="fields[name]" required> #}

            {#                <label for="email">E-mailadres</label> #}
            {#                <input type="email" id="email" name="fields[email]" required> #}

            {#                <label for="message">Bericht</label> #}
            {#                <textarea id="message" name="fields[message]" required></textarea> #}

            {#                <input type="submit" value="Submit"> #}
            {#            </form> #}
            <div class="flex justify-center">
                <div class="form">
                    {{ craft.formie.renderForm('contactform') }}
                </div>

            </div>
        </div>
    </section>
    </body>
    <footer class="footer">
        <p>{{ entry.footer }}</p>

        {#            {% if NavImage %} #}
        {#            <img src="{{ NavImage.url }}" alt=""> #}
        {#        {% endif %} #}
    </footer>
{% endblock %}