{% extends './_layout.twig' %}

{#{% set ProductImage1 = entry.product.nth(0) %}#}
{#{% set ProductImage2 = entry.product.nth(1) %}#}
{#{% set ProductImage3 = entry.product.nth(2) %}#}
{#{% set ProductImage4 = entry.product.nth(3) %}#}
{#{% set ProductImage5 = entry.product.nth(4) %}#}

{# {% set NavImage = entry.navimage.one() %} #}


{% set entry = craft.entries.section('homepage').slug(craft.app.request.getSegment(1)).one() %}
{% set icon = entry.iconline %}

{% block content %}
    {% if entry %}
    <body class="body">
{#    {% hook 'after-body-start' %}#}


    <section class="about">
        <div class="about-tekst">
            <h1 class="main-heading">{{ entry.Headertitle }}</h1>
            <h3 class="sub-heading">{{ entry.headerslogan }}</h3>

            <div class="stars">
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
            </div>

            <p class="description">{{ entry.intro }}</p>
            <p class="description">{{ entry.intro2 }}</p>
            <p class="description">{{ entry.intro3 }}</p>
            <p class="description">{{ entry.intro4 }}</p>
            <p class="description">{{ entry.intro5 }}</p>

            <div class="stars">
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
                <i class="fa-solid fa-{{ icon }}"></i>
            </div>
        </div>
    </section>

            {% set ProductItems = craft.entries.section('productitems').orderBy('productvoorraad DESC').limit(5).all() %}
    {#    {% set Products = craft.entries.section('homepage').orderBy('productvoorraad ').limit(5).all() %}#}

    {% if ProductItems|length > 0 %}
        <section class="gallery">
            <h1 class="gallery-title">{{ entry.indekijkertitle }}</h1>
            <div class="cards-wrapper">
                {% for product in ProductItems %}
                    {% include 'components/ProductCards.twig' %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <section id="contact">
        <div class="container">
            <section class="company-info">
                <h2>{{ entry.infotitle }}</h2>
                <p>{{ entry.bedrijfsinfo }}</p>
                <p>{{ entry.bedrijfsinfo2 }}</p>
                <p>{{ entry.bedrijfsinfo3 }}</p>
                <p>{{ entry.bedrijfsinfo4 }}</p>
            </section>

            <div class="flex justify-center">
                <div class="form">
                    {{ craft.formie.renderForm('contactform') }}
                </div>

            </div>
        </div>
    </section>
    </body>
    <footer class="footer">
        <p>{{ entry.footer }}</p>
    </footer>
    {% endif %}
{% endblock %}