{% extends './_layout.twig' %}

{% set productItemsQuery = craft.entries.section('productitems') %}
{% set artistParam = craft.app.request.getParam('artist') %}
{% set productTypeParam = craft.app.request.getParam('producttype') %}
{% set searchParam = craft.app.request.getParam('search') %}

{% if searchParam|length %}
    {% set productItemsQuery = productItemsQuery.search(searchParam) %}
{% endif %}

{% if artistParam|length %}
    {% set productItemsQuery = productItemsQuery.relatedTo({
        targetElement: artistParam,
        field: 'artist'
    }) %}
{% endif %}

{% if productTypeParam|length %}
    {% set productItemsQuery = productItemsQuery.relatedTo({
        targetElement: productTypeParam,
        field: 'producttype'
    }) %}
{% endif %}

{% paginate productItemsQuery.limit(6) as pageInfo, Producten %}

{% set artists = craft.entries.section('artist').all() %}
{% set productTypes = craft.entries.section('producttype').all() %}

{% block content %}
    <section class="tekst-overzichtspagina">
        <h1>catalogus</h1>
        <p>Hier vind u een overzicht van alle producten die beschikbaar zijn op deze webshop.</p>
        <p>Zijn er producten die u misschien mist, kom dan zeker eens langs in de winkel.</p>
    </section>
    <section id="products">
        <form action="{{ craft.app.request.url }}" method="get" class="filter">
            <label for="search">Search</label>
            <input type="text" name="search" id="search" value="{{ searchParam }}" class="filter-text">
            <button type="submit">Filter</button>

            <legend>Artists</legend>
            {% for artist in artists %}
                <label class="filter-label">
                    <input type="checkbox" name="artist[]" value="{{ artist.id }}" {% if artist.id in artistParam %}checked{% endif %} class="filter-input">
                    <span class="filter-text">{{ artist.title }}</span>
                </label><br>
            {% endfor %}

            <legend>Product Types</legend>
            {% for productType in productTypes %}
                <label class="filter-label">
                    <input type="checkbox" name="producttype[]" value="{{ productType.id }}" {% if productType.id in productTypeParam %}checked{% endif %} class="filter-input">
                    <span class="filter-text">{{ productType.title }}</span>
                </label><br>
            {% endfor %}

            {% if pageInfo.currentPage > 1 %}
                <input type="hidden" name="p" value="{{ pageInfo.currentPage }}">
            {% endif %}
        </form>
        <main class="main">
            {% for productitem in Producten %}
                {% include 'components/ProductCardComponent.twig' %}
            {% endfor %}
        </main>
    </section>
{#    <nav class="pagination">#}
{#        {% if pageInfo.prevUrl %}#}
{#            <a href="{{ pageInfo.prevUrl }}">Previous Page</a>#}
{#        {% endif %}#}
{#        {% if pageInfo.nextUrl %}#}
{#            <a href="{{ pageInfo.nextUrl }}">Next Page</a>#}
{#        {% endif %}#}
{#    </nav>#}
    <nav class="pagination">
    <span class="pagination-control" {% if pageInfo.prevUrl %} onclick="location.href='{{ pageInfo.prevUrl }}'" {% else %} disabled {% endif %}>
        <i class="bx bx-chevron-left"></i>
    </span>
        <span>{{ pageInfo.currentPage }} / {{ pageInfo.totalPages }}</span>
        <span class="pagination-control" {% if pageInfo.nextUrl %} onclick="location.href='{{ pageInfo.nextUrl }}'" {% else %} disabled {% endif %}>
        <i class="bx bx-chevron-right"></i>
    </span>
    </nav>
{% endblock %}
